<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
	  <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/book_form' %>
      </section>
      <section>
        <%= render 'shared/book_search' %>
      </section>
    </aside>
    <div class="span8">
    <% if @book_search_result_itens.any? %>
      <h3>Book Search</h3>
      <%= render 'shared/book_search_result' %>
	<% else %>
      <h3>Book Feed</h3>
      <%= render 'shared/feed' %>
    <<% end %>>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Shared Library</h1>

    <h2>
      Welcome to the home page of the first version of the Shared Library app. 
    </h2>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>

<% end %>